<header class="header">
  <nav class="nav">
    <div class="nav__group nav__group_links">
      <a class="link" href="#">
        <img ngSrc="assets/icons/burger-icon-active.svg" height="24" width="24">
        <span class="text text_type_main-default">Конструктор</span>
      </a>
      <a class="link" href="#">
        <img ngSrc="assets/icons/list-icon-active.svg" height="24" width="24">
        <span class="text text_type_main-default">Лента заказов</span>
      </a>
    </div>
    <a class="nav__group nav__group_logo" href="#">
      <img ngSrc="./assets/icons/logo.svg" alt="Логотип Stellar Burgers" height="50" width="290">
    </a>
    <div class="nav__group nav__group_profile">
      <a class="link" href="#">
        <img ngSrc="assets/icons/profile-icon-active.svg" height="24" width="24">
        <span class="text text_type_main-default">Личный кабинет</span>
      </a>
    </div>
  </nav>
</header>
