.middle {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bun-element {
  display: flex;
  justify-content: center;
  margin-left: 32px;
  box-sizing: border-box;
  padding: 16px 24px;
  max-width: 536px;
  width: 100%;
  min-height: 80px;
  background: var(--background-element);
  color: #f2f2f3;
  font-family: Jet Brains Mono, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;

  &__top {
    margin-bottom: 16px;
    border-radius: var(--top-constructor-item-border-radius);
  }

  &__bottom {
    margin-top: 16px;
    border-radius: var(--bottom-constructor-item-border-radius);
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__image {
    height: 40px;
    width: 80px;
  }

  &__info {
    flex-grow: 1;
    display: flex;
    text-align: left;
    align-items: center;
    line-height: 24px;
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 9px;
    font-family: Iceland, arial, helvetica, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
  }

  &__action {
    padding-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
