<div class="bun-element bun-element__top" *ngIf="(bun$ | async) as bun; else emptyTop">
  <div class="bun-element__row">
    <img class="bun-element__image"
         src="{{bun.image}}" alt="{{bun.name}}">
    <span class="bun-element__info">{{bun.name}}</span>
    <div class="bun-element__price">
      <span>{{(bun | asIngredient).price}}</span>
      <mat-icon svgIcon="currency-icon"></mat-icon>
    </div>
    <div class="bun-element__action">
      <mat-icon svgIcon="lock-icon_inactive"></mat-icon>
    </div>
  </div>
</div>

<app-draggable-ingredient class="middle"></app-draggable-ingredient>

<div class="bun-element bun-element__bottom" *ngIf="(bun$ | async) as bun; else emptyBottom">
  <div class="bun-element__row">
    <img class="bun-element__image"
         src="{{bun.image}}" alt="{{bun.name}}">
    <span class="bun-element__info">{{bun.name}}</span>
    <div class="bun-element__price">
      <span>{{(bun | asIngredient).price}}</span>
      <mat-icon svgIcon="currency-icon"></mat-icon>
    </div>
    <div class="bun-element__action">
      <mat-icon svgIcon="lock-icon_inactive"></mat-icon>
    </div>
  </div>
</div>

<ng-template #emptyTop>
  <div class="bun-element bun-element__top">
    <span class="bun-element__text">Перенесите сюда булку и начинку</span>
  </div>
</ng-template>

<ng-template #emptyBottom>
  <div class="bun-element bun-element__bottom">
    <span class="bun-element__text">Перенесите сюда булку и начинку</span>
  </div>
</ng-template>
