<li class="item" *ngIf="ingredient">
  <mat-icon svgIcon="drag-icon"></mat-icon>
  <div class="middle-element">
    <div class="middle-element__row">
      <img class="middle-element__image"
           [src]="ingredient.image" [alt]="ingredient.name">
      <span class="middle-element__text">{{ingredient.name}}</span>
      <div class="middle-element__price">
        <span>{{ingredient.price}}</span>
        <mat-icon svgIcon="currency-icon"></mat-icon>
      </div>
      <div class="middle-element__action">
        <mat-icon svgIcon="delete-icon"></mat-icon>
      </div>
    </div>
  </div>
</li>
