<div class="page">
  <h2 class="page__title text text_type_main-large">Лента заказов</h2>
  <section class="page__left scroll custom-scroll" aria-label='Список заказов'>
<!--    <span class="page__empty text text_type_main-default text_color_inactive">Заказов пока нет</span>-->
    <app-order-feed></app-order-feed>
  </section>
  <section class="page__right scroll custom-scroll" aria-label='Данные о заказах'>
<!--    <span class="page__empty page__empty_left text text_type_main-default text_color_inactive">Нет данных о количестве заказов</span>-->
    <app-order-sum></app-order-sum>
  </section>
</div>
