<div class="constructor-element constructor-element__top">
  <div class="constructor-element__row">
    <img class="constructor-element__image"
         [ngSrc]="'/assets/images/bun.png'" alt=ingredient.name
         height="120"
         width="240"
    >
    <span class="constructor-element__text">Соус фирменный Space Sauce</span>
    <div class="constructor-element__price">
      <span>80</span>
      <mat-icon svgIcon="currency-icon"></mat-icon>
    </div>
    <div class="constructor-element__action">
      <mat-icon svgIcon="lock-icon_inactive"></mat-icon>
    </div>
  </div>
</div>

<ul class="list scroll custom-scroll">
  <li class="item">
    <mat-icon svgIcon="drag-icon"></mat-icon>
    <div class="constructor-element constructor-element__center">
      <div class="constructor-element__row">
        <img class="constructor-element__image"
             [ngSrc]="'/assets/images/bun.png'" alt=ingredient.name
             height="120"
             width="240"
        >
        <span class="constructor-element__text">Соус фирменный Space Sauce</span>
        <div class="constructor-element__price">
          <span>80</span>
          <mat-icon svgIcon="currency-icon"></mat-icon>
        </div>
        <div class="constructor-element__action">
          <mat-icon svgIcon="delete-icon"></mat-icon>
        </div>
      </div>
    </div>
  </li>
</ul>

<div class="constructor-element constructor-element__bottom">
  <div class="constructor-element__row">
    <img class="constructor-element__image"
         [ngSrc]="'/assets/images/bun.png'" alt=ingredient.name
         height="120"
         width="240"
    >
    <span class="constructor-element__text">Соус фирменный Space Sauce</span>
    <div class="constructor-element__price">
      <span>80</span>
      <mat-icon svgIcon="currency-icon"></mat-icon>
    </div>
    <div class="constructor-element__action">
      <mat-icon svgIcon="lock-icon_inactive"></mat-icon>
    </div>
  </div>
</div>
