//background
$black: #1c1c21;
$dark-grey: #131316;
$grey: #2f2f37;

//text
$text-primary: white;
$text-inactive: #8585ad;

//color-interface
$interface-accent: #4c4cff;
$interface-error: #e52b1a;
$interface-success: #00cccc;
$button-inactive: #3a3a55;
$scrollbar: $grey $text-inactive;
